[Desktop Entry]
Encoding=UTF-8
Name=SONO
Comment=SONO P2P Cryptocurrency
Comment[fr]=SONO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SONO, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/SONO
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/sono;
Categories=Office;
